In [1]:
import pandas as pd
import json
from datetime import datetime

In [2]:
data_path = "/Users/alex/Library/CloudStorage/OneDrive-MUNI/Dokumenty/Projects Data/GNNs/cz_traffic/"
#data_path = "/media/sf_bely/OneDrive - MUNI/Dokumenty/Projects Data/GNNs/cz_traffic/"

In [4]:
%%time

traffic_file_name = data_path + 'traffic-2022-02.ndjson'
#data_df = pd.read_json(traffic_file_name, lines=True) #out of memory
fields = ['timestamp', 'segment_id', 'segment_name', 'segment_road_name', 'lat', 'lon', 'intensity', 'avg_speed', 'speed_variance']
df_dict = {field: [] for field in fields}
with open(traffic_file_name) as f:
    for line in f:
        record = json.loads(line)
        df_dict['timestamp'].append(datetime.fromisoformat(record['timestamp'][:-1]))
        df_dict['segment_id'].append(int(record['segment_id']))
        df_dict['segment_name'].append(record['segment_name'])
        df_dict['segment_road_name'].append(record['segment_road_name'])
        df_dict['lat'].append(float(record['segment_location']['lat']))
        df_dict['lon'].append(float(record['segment_location']['lon']))
        df_dict['intensity'].append(int(record['intensity']))
        df_dict['avg_speed'].append(float(record['avg_speed']))
        df_dict['speed_variance'].append(float(record['speed_variance']))

CPU times: user 43.4 s, sys: 1.32 s, total: 44.7 s
Wall time: 44.8 s

In [5]:
len(df_dict['segment_id'])

10250001

In [6]:
data_df = pd.DataFrame.from_dict(df_dict)
data_df.head()

,timestamp,segment_id,segment_name,segment_road_name,lat,lon,intensity,avg_speed,speed_variance
0,2022-01-17 19:00:00,40000000,D00-001,D0,50.113467,14.587899,9,76.12,55.82
1,2022-01-17 19:00:00,40000000,D00-001,D0,50.113467,14.587899,45,79.09,46.57
2,2022-01-17 19:00:00,40000001,D00-001,D0,50.114363,14.588246,8,84.10,18.19
3,2022-01-17 19:00:00,40000001,D00-001,D0,50.114363,14.588246,38,82.36,25.11
4,2022-01-17 19:00:00,40000010,D00-002,D0,50.102750,14.590411,51,84.88,90.76

In [7]:
data_df.to_parquet(data_path + 'traffic-2022-02.pqt')

# Intensities

In [3]:
df = pd.read_csv('data/intensity.csv')
# df.fillna(df.interpolate(method="spline", order=2), inplace=True)
df.fillna(0, inplace=True)
df

,datetime,D00-001,D00-002,D00-003,D00-004,D00-005,D00-006,D00-007,D00-008,D00-009,...,I58-009,I58-010,I58-011,I58-012,I58-013,I58-014,I63-001,I63-002,I63-003,I63-004
0,2022-01-17 19:00:00,100,108,123,134,138,122,132.0,130,121,...,2.0,5.0,5.0,7.0,0.0,0.0,12.0,9.0,7.0,3.0
1,2022-01-17 19:15:00,118,108,123,117,115,116,128.0,126,148,...,8.0,7.0,8.0,12.0,0.0,0.0,6.0,9.0,9.0,4.0
2,2022-01-17 19:30:00,81,85,131,93,90,88,86.0,82,100,...,2.0,2.0,2.0,2.0,0.0,0.0,6.0,4.0,3.0,3.0
3,2022-01-17 19:45:00,68,70,103,87,96,103,121.0,123,124,...,1.0,2.0,2.0,4.0,0.0,0.0,15.0,10.0,10.0,8.0
4,2022-01-17 20:00:00,80,79,119,147,140,130,125.0,119,121,...,3.0,3.0,3.0,3.0,0.0,0.0,8.0,8.0,8.0,2.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3039,2022-02-18 10:45:00,53,44,64,63,51,47,49.0,44,49,...,3.0,5.0,5.0,9.0,6.0,12.0,32.0,4.0,7.0,1.0
3040,2022-02-18 11:00:00,59,57,74,54,50,42,46.0,48,55,...,3.0,4.0,5.0,10.0,8.0,10.0,14.0,0.0,2.0,1.0
3041,2022-02-18 11:15:00,57,51,73,58,59,44,43.0,49,58,...,9.0,5.0,5.0,12.0,9.0,18.0,19.0,6.0,6.0,4.0
3042,2022-02-18 11:30:00,55,55,63,57,48,37,47.0,39,45,...,1.0,1.0,0.0,5.0,13.0,10.0,22.0,5.0,4.0,3.0
3043,2022-02-18 11:45:00,46,50,72,57,51,39,37.0,41,42,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0